# SD Card specific settings
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTCOMMAND="setenv kernel_addr_r 0x08000000;setenv fdt_addr_r 0x09000000;setenv fdt_high 0xffffffffffffffff;fatload mmc 0:1 ${kernel_addr_r} Image;fatload mmc 0:1 ${fdt_addr_r} linux.dtb;booti ${kernel_addr_r} - ${fdt_addr_r}"
# Environment stored in FAT on SD card
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_ENV_FAT_FILE="/uboot.env"
