CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0x01040000
CONFIG_SYS_MALLOC_F_LEN=0x8000
CONFIG_ENV_SIZE=0x10000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0xF8010000
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_TARGET_VEXRISCV_SAXON=y
CONFIG_RISCV_SMODE=y
# CONFIG_RISCV_ISA_C is not set
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTCOMMAND="load mmc 0:1 0x00400000 uImage;load mmc 0:1 0x00CF0000 linux.dtb;bootm 0x00400000 - 0x00CF0000"
CONFIG_CMD_MMC=y
CONFIG_CMD_MTD=y
CONFIG_CMD_SPI=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_MTDIDS_DEFAULT="nor0=nor0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=nor0:4m(fpga_bitstream),512k(opensbi),512k(uboot),11m(user)"
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="uboot"
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_ENV_FAT_FILE="/uboot.env"
CONFIG_MMC=y
CONFIG_MMC_BROKEN_CD=y
CONFIG_MMC_SPI=y
CONFIG_DM_MTD=y
CONFIG_SPI_FLASH_SFDP_SUPPORT=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_DEBUG_UART_RISCV_SBI=y
CONFIG_RISCV_SBI_SERIAL=y
CONFIG_SPI=y
CONFIG_VEXRISCV_SPI=y
CONFIG_SBI_V01=y
CONFIG_MMC_SDHCI_EFX=y
