/dts-v1/;

#include <config.h>
/include/ "sapphire.dtsi"

/ {
	compatible = "spinal,vexriscv";
	model = "spinal,vexriscv_saxon";

	aliases {
                serial0 = &uart0;
                spi0 = &spi0;
        };

	chosen {
		bootargs = "console=ttyS0,115200n8";
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x00400000 0xfc00000>;
	};
};

&uart0 {
	status = "okay";
	device_type = "serial";
	compatible = "riscv_sbi,uart";
};

&spi0 {
	status = "okay";
	compatible = "vexriscv,spi";
	flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <6000000>;
        };
};

&mmc0 {
        status = "okay";
        compatible = "efx,efx-sdhost";

};

