# GCC
BR2_GCC_VERSION_14_X=y
BR2_BINUTILS_VERSION_2_44_X=y
BR2_BINUTILS_VERSION="2.44"

# Linux headers
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y

# Kernel
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6.110"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_EFINIX_PATH)/patches/linux/6.6"
