# GCC
BR2_GCC_VERSION_8_X=y

# Linux headers
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_10=y

# Kernel
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.10.147"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_EFINIX_PATH)/patches/linux/v5.10"
