/dts-v1/;

#include <config.h>
/include/ "sapphire.dtsi"

#define CLK_FREQ 80000000

/ {
	compatible = "spinal,vexriscv";
	model = "spinal,vexriscv_saxon";

	aliases {
                serial0 = &uartA;
                spi0 = &spiA;
                spi1 = &spiB;
        };

	chosen {
		bootargs = "console=ttyS0,115200n8";
		stdout-path = "serial0:115200n8";
	};

	cpus {
		timebase-frequency = <CLK_FREQ>;
	};

	memory {
		device_type = "memory";
		reg = <0x00001000 0x02000000>;
  	};
};

&uartA {
	status = "okay";
	device_type = "serial";
	compatible = "riscv_sbi,uart";
};

&spiA {
	status = "okay";
	compatible = "vexriscv,spi";
	flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <6000000>;
        };
};

&spiB {
	status = "okay";
	compatible = "vexriscv,spi";
	mmc0: mmc@0 {
		compatible = "mmc-spi-slot";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};
