# SPI
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_EXPERIMENTAL=y
CONFIG_SPI_SPIDEV=y
CONFIG_SPI_SPINAL_LIB=y
CONFIG_SPI_SLAVE=y
CONFIG_SPI_DEBUG=y
CONFIG_SPI_LOOPBACK_TEST=y
CONFIG_MTD=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_CHAR=y
CONFIG_MTD_NAND=y
CONFIG_MTD_NAND_ECC=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_BLKDEVS=y
CONFIG_MTD_NAND_CORE=y
CONFIG_MTD_UBI=y
CONFIG_MTD_PARTITIONS=y
