/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
/include/ "sapphire.dtsi"

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	//model = "efinix,sapphire";
	model = "myboard,riscv";

	
	memory {
		device_type = "memory";
		reg = <0x8 0x0 0x0 0x40000000>;
	};

	gpio-irq-example {
                status = "okay";
                reg = <0x0>;
                compatible = "efinix,gpio-irq";
                interrupt-parent = <&gpio0>;
                interrupts = <0 IRQ_TYPE_EDGE_RISING>;
        };
		
        chosen {
        	stdout-path = "serial0:115200n8";
        	bootargs = "rootwait console=ttySL0 earlycon root=/dev/mmcblk0p2 init=/sbin/init mmc_core.use_spi_crc=0";
        };
		
        aliases {
        	serial0 = &uart0;
        };
		
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		
                opensbi: opensbi@801000000 {
                        status = "okay";
                	reg = <0x8 0x01000000 0x0 0x80000>;
                };


		dma32_resv: dma32@40000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x40000000 0x0 0x04000000>; /* 64 MiB */
			reusable;
			linux,dma-default;
		};

	};
};

&plic {
	riscv,ndev = <32>;
	status = "okay";
};

&uart0 {
        current-speed = <115200>;
        status = "okay";
};

&spi0 {
	#address-cells = <2>;
	#size-cells = <0>;
	status = "okay";
	cmd_fifo_depth = <256>;
	rsp_fifo_depth = <256>;
	num-cs = <1>;
};

&spi1 {
	#address-cells = <2>;
	#size-cells = <0>;
	status = "okay";
	cmd_fifo_depth = <256>;
	rsp_fifo_depth = <256>;
	num-cs = <1>;

	mmc-slot {
		reg = <0x0 0x0>;
		compatible = "mmc-spi-slot";
		voltage-ranges = <3300 3300>;
		spi-max-frequency = <10000000>;
	};
};

&i2c0 {
        status = "okay";
};

&gpio0 {
        #gpio-cells = <2>;
        ngpio = <4>;
        gpio-controller;
        status = "okay";
};

&watchdog0 {
	status = "okay";
};
