/dts-v1/;
#include <config.h>
/include/ "sapphire.dtsi"

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "efinix,sapphire";

	
	memory {
		device_type = "memory";
		reg = <0x8 0x000000 0x0 0x40000000>;
	};
	
		
        chosen {
        	stdout-path = "serial0:115200n8";
        	bootargs = "console=ttyS0,115200n8";
        };
		
        aliases {
        	serial0 = &uart0;
        };
	
	

        wdt-reboot {
        	compatible = "wdt-reboot";
        	clock-frequency = <50000000>;
        	wdt = <&watchdog0>;
        	status = "okay";
        };


};

&plic {
        device_type = "interrupt-controller";
        compatible = "sifive,plic-1.0.0";
        #interrupt-cells = <2>;
        riscv,ndev = <32>;
        status = "okay";
};

&clint0 {
        compatible = "riscv,clint0";
        status = "okay";
};

&uart0 {
        device_type = "serial";
        compatible = "riscv_sbi,uart";
        status = "okay";
};

&spi1 {
        compatible = "vexriscv,spi";
        status = "okay";
	mmc0: mmc@0 {
		reg = <0>;
		compatible = "mmc-spi-slot";
		spi-max-frequency = <10000000>;
	};
};

&spi0 {
        compatible = "vexriscv,spi";
        status = "okay";
};

&watchdog0 {
        compatible = "efx,efx-wdt";
        status = "okay";
};
